<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="col-12">
  <footer class="text-center text-lg-start">
    <div
      class="text-center text-white p-3"
      style="background-color: rgb(0, 104, 69)"
    >
      © 2024 Copyright:
      <a class="text-white" href="/">TourListingApp</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
<!-- End of .container -->
