<% layout('/layouts/boilerplate') -%>

<body>
  <h3>All Listing</h3>
  <div class="row row-cols-lg-3">
    <% for(let listing of allListings) {%>
    <div class="card">
      <a href="/listings/<%=listing._id  %>">
        <img
          src="<%= listing.image %>"
          class="card-img-top"
          alt="Listings"
          height="350vh"
        />
      </a>

      <div class="card-body">
        <h6 class="card-text"><%= listing.title %></h6>
        <h6><b>&#8360;<%= listing.price.toLocaleString("en-PK") %></b></h6>
      </div>
    </div>
    <%}%>
  </div>

  <br />
</body>
