<% layout('/layouts/boilerplate') -%>

<body>
  <h3>Create a New Listings</h3>
  <div class="py-5">
    <form action="/listings" method="post">
      <input
        class="form-control"
        type="text"
        placeholder="Title"
        name="listing[title]"
      />
      <br />
      <textarea
        class="form-control"
        name="listing[description]"
        cols="30"
        rows="5"
      ></textarea>
      <br />

      <input
        class="form-control"
        type="text"
        placeholder="Image/Link"
        name="listing[img]"
      />
      <br />

      <input
        class="form-control"
        type="number"
        placeholder="Price"
        name="listing[price]"
      />
      <br />
      <input
        class="form-control"
        type="text"
        placeholder="Location"
        name="listing[location]"
      />
      <br />
      <input
        class="form-control"
        type="text"
        placeholder="Country"
        name="listing[country]"
      />
      <br />
      <button class="btn btn-danger col-12" type="submit">Add</button>
    </form>
  </div>
</body>
